<div class="col-xs-12 col-md-3">
    <div id="profile">
        {{if isset .Params "external_link"}}
            <a href="{{ .Params.external_link }}">
                <div class="small-portrait" itemprop="image" style="background-image: url('{{ .Site.BaseURL }}/img/{{ .Params.portrait }}');"></div>
            </a>
        {{else}}
            <div class="small-portrait" itemprop="image" style="background-image: url('{{ .Site.BaseURL }}/img/{{ .Params.portrait }}');"></div>
        {{end}}
        <div class="portrait-title">
            <h3 itemprop="name">
                {{if isset .Params "external_link"}}
                <a href="{{ .Params.external_link }}">
                    {{ .Params.name }}
                </a>
                {{else}}
                    {{ .Params.name }}
                {{end}}
            </h3>
            <h3>
                ({{ .Params.date.Year }})
            </h3>
        </div>

    </div>
</div>
